body {
    background-color: antiquewhite;
}

hr {
    background-color: white;
    border-style: none;
    height: 2px;
    width: 85%;
}

h1 {
    font-size: 70px;
    font-family: 'Jim Nightshade', cursive;
    color: black;
}

h3 {
    font-size: 30px;
    color: blueviolet;
    font-family: 'Jim Nightshade', cursive;
}